/** 
* 220*220秒杀 超长描述 + 价格 css + 立刻秒杀图 
*/ 
.mui-act-shi-10231123 .mui-act-item{
	background-color: #fff;
	height:300px;
	overflow: hidden;
	float: left;
	margin-right: 7px;
}

.mui-act-shi-10231123 .mui-act-a{
	width:220px;
	overflow:hidden;
	display:block;
	margin: 10px 10px 0;
	background: url("http://gtms01.alicdn.com/tps/i1/T1EeQoFhRbXXanPEjh-49-40.png") no-repeat 170px 240px;
} 

.mui-act-shi-10231123 .mui-act-title{
	text-align:left;
	height:18px;
	line-height:18px;
	color:#2d2d2d;
	width:220px;
	hite-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	overflow:hidden;
  margin: 0;
}

.mui-act-shi-10231123 .mui-act-tagPrice{
	font-family:Arial;
	color:#a2a2a2;
	display: block;
	height:16px;
	line-height: 16px;
	overflow: hidden;
	text-align:left;
}

.mui-act-shi-10231123 .mui-act-kuang11{
	color:#cb1e3c;
	font-weight:bold;
	display:block;
	line-height:14px;
	margin-top: 5px;
	width:168px;
	white-space: nowrap;
	overflow: hidden;
	text-align:left;
}

.mui-act-shi-10231123 .price{
	font-family:Arial;
	line-height: 20px;
}

.mui-act-shi-10231123 .n_price{
	font-size:24px;
	font-family: tahoma;
}

.mui-act-shiSPrice-10231123 .n_price{
	font-size:20px;
	font-family: tahoma;
} 

.mui-act-shi-10231123 .price{
	font-weight:bold;
} 

.var_price{
	font-size: 26px;
}
.mui-act-items-inner{
	height:300px;
	padding-left:0;
}
	